<%- include('../../partials/head.ejs') %>

<div class="container my-container">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, amet.</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis repellendus, placeat quia at
        necessitatibus dolore dolorum ad nulla, dolor suscipit optio porro delectus tempora ipsam culpa accusantium quam
        sequi illo!</p>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>