<%- include('../../partials/head.ejs') %>

<div class="container my-container">
    <h1 class="display-1">welcome to dashboard</h1>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>